.footer{

    margin-top:auto;

    padding:12px 55px 8px;

    border-top:1px solid var(--border);

    background:var(--bg-main);

}

.footer-top{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    gap:80px;

}

.footer-title{

    color:var(--text-muted);

    font-size:14px;

    margin-bottom:2%;

}

.footer-name{

    font-size:20px;

    font-weight:700;

    color:var(--text-main);

    margin-bottom:4%;

}

.footer-links{

    display:flex;

    align-items:center;

    gap:12px;

    margin-bottom: 1;

}

.footer-links span{

    color:#666;

}

.footer-links a,

.footer-email{

    color:var(--text-main);

    text-decoration:none;

    transition:.2s;

}

.footer-links a:hover,

.footer-email:hover{

    color:var(--blue);

}

.footer-divider{

    margin:18px 0 18px;

    border-top:1px solid var(--border);

}

.footer-bottom{

    text-align:center;

    color:var(--text-muted);

    font-size:13px;

}